@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    background-color: rgba(245, 245, 245,0.2);
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pname {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

.container {
    align-items: center;
    text-align: center;
}

.container img {
    width: 400px;
}

.sometext {
    margin: 0 10%;
}

/* container2 */
.container2 {
    font-size: 1.3rem;
    text-align: center;
}

.brakets {
    width: 100px;
    margin: 0 100px;
}

/* container3 */
.container3 {
    margin: 90px 0 0 20px;
}

/* todos los span */
.html {
    color: white;
    background-color: RGB(227, 79, 38);
    border-radius: 10px;
}

.css {
    color: white;
    background-color: RGB(2, 119, 189);
    border-radius: 5px;
}

.Btstrap {
    color: white;
    background-color: RGB(121, 82, 179);
    border-radius: 10px;
}

.htmlimage {
    margin: 0 100px;
    width: 170px;
    height: 185px;
}

.cssimage {
    margin: 0 100px 0 0;
}

.imgcontainer {
    justify-content: space-around;
    margin-top: 20px;
}

.butstrapputo {
    padding: 0 0 20px;
}

.imgcontainer2 img {
    margin: 10px 60px;
}

/* frameworks de java */
.Reacttext {
    color: white;
    background-color: RGB(0, 204, 255);
    border-radius: 10px;
}

.Vuetext {
    color: white;
    background-color: RGB(63, 185, 132);
    border-radius: 10px;
    margin: 0px 10px;
}

.Angulartext {
    color: white;
    background-color: RGB(224, 46, 49);
    border-radius: 10px;
}

.Nodetext {
    background-color: RGB(139, 197, 0);
    border-radius: 10px;
    color: white;
}